<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!--<add key="sqlconn" value="Server=192.168.1.200;Database=calculation;Uid=root;Pwd=cqmt@123;" />-->
    <add key="sqlconn" value="Server=localhost;Database=calculation;Uid=root;Pwd=123456;" />
    <add key="ParamPath" value="D:\ParamPath\" />
    <add key="DgPath" value="D:\DgPath\" />
    <add key="PLUS_JP_JZGJ" value="E:\工作\项目\铭腾房地产\plus\jp\base\jzgj.pptx" />
    <add key="PLUS_JP_ZDPM" value="E:\工作\项目\铭腾房地产\plus\jp\base\周度排名.pptx" />
  
  </appSettings>

</configuration>