@using Calculation.Models
@{
    ViewBag.Title = "CKJH";
}
<div class="row" style="margin:20px 0;">
        <select class="form-control waves-effect waves-light" id="nf">
            @{ foreach (Data_JHNF item in this.ViewBag.nf)
                {
                    if (DateTime.Now.Year == item.nf)
                    {
                        <option selected="selected">
                            @item.nf
                        </option>
                    }
                    else
                    {
                        <option>
                            @item.nf
                        </option>
                    }
                }
            }
        </select>
</div>
<div class="row">
    <div id="rwxq" style="width: 100%; "></div>
</div>

<DIV tabindex="-1" class="modal fade" id="custom-width-modal" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width: 55%;">
        <DIV class="modal-content">

            <DIV class="modal-body">

            </DIV>

        </DIV><!-- /.modal-content -->
    </DIV><!-- /.modal-dialog -->
</DIV><!-- /.modal -->

@section scripts{
    <script>
    var t = new Table_bs($('#rwxq'));
    function Table_bs($box) {

        var _init_bit = false;
        var _box = $box;

        this.init = function () {

            _box.addClass('table-responsive');

            var html = '';
            html += '<table class="table table-bordered " style="text-align: center; ">';
            html += '<thead style="font-weight: bold;">';
            // html += '<tr>';
            // html += '</tr>';
            html += '</thead>';
            html += '<tbody>';
            // html += '<tr>';
            // html += '</tr>';
            html += '</tbody>';
            html += '</table>';

            _box.append($(html));

            _init_bit = true;
        }
        this.load = function (option) {

            if (!_init_bit) {
                this.init();
            }

            // 表头
            var thead = option.colNames;

            var html_thead = '';
            html_thead += '<tr>';
            for (var i = 0; i < thead.length; i++) {
                html_thead += '<td>' + thead[i] + '</td>';
            }
            html_thead += '</tr>';

            _box.find('thead').append($(html_thead));

            // 表身
            var tbody = option.data;
            var html_tbody = '';

            for (var j1 = 0; j1 < tbody.length; j1++) {
                var buff = tbody[j1];

                html_tbody += '<tr>';
                for (var j2 = 0; j2 < buff.length; j2++) {
                    html_tbody += '<td>' + buff[j2] + '</td>';
                }
                html_tbody += '</tr>';
            }
            _box.find('tbody').append($(html_tbody));
        }
        this.reflush = function (option) {
            _box.empty();
            this.init();
            //option.data = [];
            //this.load(option);
        }
    }

    function cleardata()
    {
        $("#custom-width-modal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
    }
    var option = {
        colNames: ['选择', "任务年份", "任务周次","周次名称", "成交记录", "新增预售", "土地交易", "认购数据","上传数据"],
        data: []
    }
  
    $(function () {       
        init1();
    });
    function init1() {
        $.ajax({
            url: "/data/get_rwxq",
            data: { "nf": $("#nf").val() },
            type: "post",
            success: function (data) {
                var d = [];
                for (var i = 0; i < data.length; i++) {
                    d.push(['<input type="checkbox">',
                        data[i].nf, data[i].zc, data[i].zcmc,
                        Get_Data_CJJL(data[i].cjjl),
                        Get_Data_XZYS(data[i].xzys),
                        Get_Data_TDCJ(data[i].tdcj),
                        Get_Data_RGSJ(data[i].rgsj),
                        "<a class='btn btn-primary waves-effect waves-light btn-sm' href='/data/TJSJ?nf=" + data[i].nf + "&zc=" + data[i].zc + "' data-toggle='modal' data-target='#custom-width-modal' onclick='cleardata()'>上传数据 </a> "]);
                }
                option.data = d;
                t.load(option);
            }
        })
    }

    $('#custom-width-modal').on('hide.bs.modal', function () {
        t.reflush(option);
        init1();
    });

    $("#nf").change(function () {
        t.reflush(option);
        init1();
    })




    function Get_Data_CJJL(a) {
        if (a != 0) {
            return a;
        }
        else {
            return "<a href='#' class='btn btn-link red'>无数据</a>"
        }
    }
    function Get_Data_XZYS(a) {
        if (a != 0) {
            return a;
        }
        else {
            return "<a href='#' class='btn btn-link red'>无数据</a>"
        }
    }
    function Get_Data_TDCJ(a) {
        if (a != 0) {
            return a;
        }
        else {
            return "<a href='#' class='btn btn-link red'>无数据</a>"
        }
    }
    function Get_Data_RGSJ(a) {
        if (a != 0) {
            return a;
        }
        else {
            return "<a href='#' class='btn btn-link red'>无数据</a>"
        }
    }
    </script>
}