
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow bg-info">
            <span class="mini-stat-icon"><i class="ion-social-usd"></i></span>
            <div class="mini-stat-info text-right">
                <span class="counter">数据计划</span>
            </div>
            <div class="tiles-progress">
                    <a class="btn btn-primary waves-effect waves-light btn-sm" href="/data/tjjh" data-toggle="modal" data-target="#custom-width-modal">添加计划 </a> 
                    <a class="btn btn-primary waves-effect waves-light btn-sm" href="/data/ckjh">查看计划 </a> 
            </div>
        </div>
    </div>
</div>


<DIV tabindex="-1" class="modal fade" id="custom-width-modal" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width: 55%;">
        <DIV class="modal-content">

            <DIV class="modal-body">

            </DIV>

        </DIV><!-- /.modal-content -->
    </DIV><!-- /.modal-dialog -->
</DIV><!-- /.modal -->
