
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
          <a class="btn btn-danger waves-effect waves-light btn-block" style="height:70px;line-height:55px;" href="/data/tjjh" data-toggle="modal" data-target="#custom-width-modal">添加计划 </a> 
    </div>
    <div class="col-md-6 col-sm-6 col-lg-3">
        <a class="btn btn-primary waves-effect waves-light btn-block"  style="height:70px;line-height:55px;" href="/data/ckjh">查看计划 </a>
    </div>
</div>


<DIV tabindex="-1" class="modal fade" id="custom-width-modal" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width:44%;" >
        <DIV class="modal-content col-lg-6">

            <DIV class="modal-body">

            </DIV>

        </DIV><!-- /.modal-content -->
    </DIV><!-- /.modal-dialog -->
</DIV><!-- /.modal -->


