
@{
    ViewBag.Title = "TJJH";
}

<form action="/Data/ADD_JH">
    <div class="form-group">
        <label class="col-sm-2 control-label">选择任务年份</label>
        <div class="col-sm-10">
            <select class="form-control" name="nf">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
                <option>2027</option>
                <option>2028</option>
                <option>2029</option>
                <option>2030</option>
            </select>
        </div>
    </div>
    <input type="submit"  value="确定" class="btn btn-block btn-lg"/>
</form>
