
@{
    ViewBag.Title = "Bajzgj";
}
<style>
    .param {
        margin-top: 5px;
    }

    .param_value_item {
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        background-color: #272c35;
        line-height: 35px;
        color: white;
        border-radius: 2px;
    }

        .param_value_item i {
            margin-left: 5px;
        }
</style>


<div class="row">
    <div><h4>本案格局</h4></div>
    <div>
        <input type="button" class="btn btn-danger" value="保存本案格局" id="btn_sub" onclick="save()" />
        <a class="btn btn-primary waves-effect waves-light" onclick="javascript:history.back(-1);" >返回</a>
    </div>
</div>
<DIV tabindex="-1" class="modal fade" id="jzgj" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width: 55%;">
        <DIV class="modal-content">

            <DIV class="modal-body">

            </DIV>

        </DIV>
    </DIV>
</DIV>

<div>
   
    <div class="row param" >
        <div class="col-lg-3">
            <input type="text" id="qymc" class="form-control col-sm-9" placeholder="区域名称"  onblur="default2('qymccslb')" /><input type="button" value="搜索" onclick="add('qymc')" class="btn btn-danger"  />
            <select tabindex="-1" class="select2 form-control select2-offscreen " id="qymccslb" style="display:none;" onblur="default1('qymccslb')" >
                <option value="#">&nbsp;</option>
            </select>
        </div>
        <div class="col-lg-9" id="qymc_param">

        </div>
    </div>

    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="kfs" class="form-control col-sm-9" placeholder="开发商" onblur="default2('kfscslb')" /><input type="button" value="搜索" onclick="add('kfs')" class="btn btn-danger" />
            <select tabindex="-1" class="select2 form-control select2-offscreen " id="kfscslb" style="display:none;" onblur="default1('kfscslb')">
                <option value="#">&nbsp;</option>
            </select>
        </div>
        <div class="col-lg-9" id="kfs_param">

        </div>
    </div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="ztmc" class="form-control col-sm-9" placeholder="组团名称" onblur="default2('ztmccslb')" /><input type="button" value="搜索" onclick="    add('ztmc')" class="btn btn-danger" />
            <select tabindex="-1" class="select2 form-control select2-offscreen " id="ztmccslb" style="display:none;" onblur="default1('ztmccslb')">
                <option value="#">&nbsp;</option>
            </select>
            

        </div>
        <div class="col-lg-9" id="ztmc_param">
        </div>
    </div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="lpmc" class="form-control col-sm-9" placeholder="楼盘名称"  onblur="default2('lpmccslb')" /><input type="button" value="搜索" onclick="    add('lpmc')" class="btn btn-danger" />
            <select tabindex="-1" class="select2 form-control select2-offscreen " id="lpmccslb" style="display:none;" onblur="default1('lpmccslb')">
                <option value="#">&nbsp;</option>
            </select>
        </div>
        <div class="col-lg-9" id="lpmc_param">

        </div>
    </div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="ytmc" class="form-control  col-sm-9" placeholder="业态"  onblur="default2('ytmccslb')" /><input type="button" value="搜索" onclick="add('ytmc')" class="btn btn-danger" />
            <select tabindex="-1" class="select2 form-control select2-offscreen " id="ytmccslb" style="display:none;" onblur="default1('ytmccslb')">
                <option value="#">&nbsp;</option>
            </select>
        </div>
        <div class="col-lg-9" id="ytmc_param">
        </div>
    </div>

    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="xfyt" class="form-control  col-sm-9  " placeholder="细分业态" onblur="default2('xfytcslb')"/><input type="button" value="搜索" onclick="add('xfyt')" class="btn btn-danger" /></div>
        <select tabindex="-1" class="select2 form-control select2-offscreen " id="xfytcslb" style="display:none;" onblur="default1('xfytcslb')">
            <option value="#">&nbsp;</option>
        </select>
        <div class="col-lg-9" id="xfyt_param"></div>
    </div>

    <div class="row param">
        <div class="col-lg-3">
        <input type="text" id="hxmc" class="form-control  col-sm-9" placeholder="户型" onblur="default2('hxmccslb')" /><input type="button" value="搜索" onclick="add('hxmc')" class="btn btn-danger" /></div>
        <select tabindex="-1" class="select2 form-control select2-offscreen " id="hxmccslb" style="display:none;" onblur="default1('hxmccslb')">
            <option value="#">&nbsp;</option>
        </select>
        <div class="col-lg-9" id="hxmc_param"></div>
    </div>
    <div class="row param">
        <div class="col-lg-3"><input type="text" id="zlmjqj" class="form-control  col-sm-9  col-lg-9" placeholder="主力面积区间" /><input type="button" value="设置" onclick="add('zlmjqj')" class="btn btn-danger" /></div>
        <div class="col-lg-9" id="zlmjqj_param"></div>
    </div>
    <div class="row param">
        <div class="col-lg-3"><input type="text" id="qtcs" class="form-control  col-sm-9  col-lg-9" placeholder="其他参数" /><input type="button" value="设置" onclick="add('qtcs')" class="btn btn-danger" /></div>
        <div class="col-lg-9" id="qtcs_param"></div>
    </div>
</div>
<div class="table row" id="cjsj">

</div>


@section scripts{
    <script>
        var zt = [];
        var qy = [];
        var kfs =[];
        var lpmc = [];
        var yt = [];
        var xfyt = [];
        var hx = [];
        var zlmjqj =[];
        var qtcs="";
        var nf= @this.ViewBag.nf;
        var zc= @this.ViewBag.zc;
        function add(a) {
            var d = $("#" + a).val();
            if (d!=null&d!=""&d!=undefined) {
                if(a!="qtcs"){
                    $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + $("#" + a).val() + "<i class='md md-clear'></i></a>");
                    switch (a) {
                        case 'ztmc': { zt.push($("#" + a).val()); }; break;
                        case 'qymc': { qy.push($("#" + a).val()); }; break;
                        case 'kfs': { kfs.push($("#" + a).val()); }; break;
                        case 'lpmc': { lpmc.push($("#" + a).val()); }; break;
                        case 'ytmc': { yt.push($("#" + a).val()); }; break;
                        case 'xfyt': { xfyt.push($("#" + a).val()); }; break;
                        case 'hxmc': { hx.push($("#" + a).val()); }; break;
                        case 'zlmjqj': {zlmjqj.push($("#" + a).val()); }; break;
                        case 'qtcs': {qtcs = $("#" + a).val(); }; break;
                    }
                }
                else
                {
                    $("#" + a + "_param").empty();
                    $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + $("#" + a).val() + "<i class='md md-clear'></i></a>");
                    qtcs = $("#" + a).val();
                }
                option.pagenow = 1;
                init2();
            }
            else
            {
                alert("请填内容！")
            }
        }
        function add_by_list(a,b) {
                if(a!="qtcs"){
                    $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + b.value + "<i class='md md-clear'></i></a>");
                }
                else
                {
                    $("#" + a + "_param").empty();
                    $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + b.value + "<i class='md md-clear'></i></a>");
                    qtcs = b;
                }
                option.pagenow = 1;
                init2();
        }
        function del(a, b) {
            document.getElementById(a + "_param").removeChild(b);
            switch (a) {
                case 'ztmc': { zt.splice(zt.indexOf(b.value), 1); }; break;
                case 'qymc': { qy.splice(zt.indexOf(b.value), 1); }; break;
                case 'kfs': { kfs.splice(zt.indexOf(b.value), 1); }; break;              
                case 'lpmc': { lpmc.splice(zt.indexOf(b.value), 1); }; break;
                case 'ytmc': { yt.splice(zt.indexOf(b.value), 1); }; break;
                case 'xfyt': { xfyt.splice(zt.indexOf(b.value), 1); }; break;
                case 'hxmc': { hx.splice(zt.indexOf(b.value), 1); }; break;
                case 'zlmjqj': {zlmjqj.splice(zt.indexOf(b.value), 1); }; break;
                case 'qtcs': {qtcs = ""; }; break;
            }
            option.pagenow = 1;
            init2();
        }

        function save(){
            var data = { 'zt': zt, 'qy': qy,'kfs':kfs,'lpmc': lpmc, 'yt': yt, 'xfyt': xfyt, 'hx': hx,'zlmjqj': zlmjqj,'qtcs':qtcs,'id': @ViewBag.id };
            $.ajax({
                url: "/jp_zb/save_baxmcs",
                data: data,
                type: "post",
                success: function (data) {
                    if (data.IsSuccessful) {
                        alert("保存成功");
                        table.reflush(option);
                        init1();
                    }
                    else alert(data.ErrMsg);
                }
            })
        }
        function add_default(a,b) {
                $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + b+ "<i class='md md-clear'></i></a>");
                switch (a) {
                    case 'ztmc': { zt.push(b); }; break;
                    case 'qymc': { qy.push(b); }; break;
                    case 'kfs': { kfs.push(b); }; break;
                    case 'lpmc': { lpmc.push(b); }; break;
                    case 'ytmc': { yt.push(b); }; break;
                    case 'xfyt': { xfyt.push(b); }; break;
                    case 'hxmc': { hx.push(b); }; break;
                    case 'zlmjqj': {zlmjqj.push(b); }; break;
                    case 'qtcs': {qtcs = b; }; break;
                }
            option.pagenow = 1;
            init2();

        }



        var table = new Table_bs($('#cjsj'));
        function cleardata(a) {
            $(a).on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });

        }
        function Table_bs($box) {

            var _init_bit = false;
            var _box = $box;

            this.init = function () {

                _box.addClass('table-responsive');

                var html = '';
                html += '<table class="table table-bordered " style="text-align: center; ">';
                html += '<thead style="font-weight: bold;">';
                // html += '<tr>';
                // html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                // html += '<tr>';
                // html += '</tr>';
                html += '</tbody>';
                html += '</table>';

                _box.append($(html));

                _init_bit = true;
            }
            this.load = function (option) {

                if (!_init_bit) {
                    this.init();
                }

                // 表头
                var thead = option.colNames;

                var html_thead = '';
                html_thead += '<tr>';
                for (var i = 0; i < thead.length; i++) {
                    html_thead += '<td>' + thead[i] + '</td>';
                }
                html_thead += '</tr>';

                _box.find('thead').append($(html_thead));

                // 表身
                var tbody = option.data;
                var html_tbody = '';

                for (var j1 = 0; j1 < tbody.length; j1++) {
                    var buff = tbody[j1];

                    html_tbody += '<tr>';
                    for (var j2 = 0; j2 < buff.length; j2++) {
                        html_tbody += '<td>' + buff[j2] + '</td>';
                    }
                    html_tbody += '</tr>';
                }
                _box.find('tbody').append($(html_tbody));
                var html_page = "";
                html_page += "<ul class='pagination'><li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>上一页</a></li>";
                html_page += "<li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>" + option.datacount + "</a></li>";

                html_page += "<li tabindex='0' class='paginate_button next' id='datatable-fixed-header_next' aria-controls='datatable-fixed-header'><a href='#'>下一页</a></li></ul>";
                _box.find('tbody').append((html_page));
            }
            this.reflush = function (option) {
                _box.empty();
                this.init();
                //option.data = [];
                //this.load(option);
            }
        }



        var option = {
            colNames: ['成交日期', "区域", "组团", "开发商", "楼盘名称", "业态", "细分业态", "户型", "建筑面积", "套内面积", "成交金额", "套数","主力面积区间"],
            data: [

            ],
            pagenow :1,
            pagesize: 50,
            datacount :0,
        }

        $(function () {
            init1();
            init3();
        });

        function pre()
        {
            if(option.pagenow>1)
            {
                option.pagenow -= 1;
                init2();
            }
        }
        function next() {
            if (option.pagenow<(option.datacount / option.pagesize)+1) {
                option.pagenow += 1;
                init2();
            }
        }
        function init2() {

            var data = { 'nf':nf,'zc':zc,'zt': zt, 'qy': qy,'kfs':kfs, 'lpmc': lpmc, 'yt': yt, 'xfyt': xfyt, 'hx': hx ,'pagenow':option.pagenow,'pagesize':option.pagesize};
            $.ajax({
                url: "/jp_zb/cxjg",
                data: data,
                type: "post",
                success: function (data) {
                    var d = [];
                    for (var i = 0; i < data.data.length; i++) {
                        d.push([data.data[i].cjrq, data.data[i].qy, data.data[i].zt, data.data[i].kfs, data.data[i].lpmc, data.data[i].yt, data.data[i].xfyt, data.data[i].hx, data.data[i].jzmj, data.data[i].tnmj, data.data[i].cjje, data.data[i].ts,data.data[i].zlmjqj ]);
                    };
                    option.data = d;
                    option.datacount = data.datacount;
                    option.pagenow = data.pagenow;
                    table.reflush(option);
                    table.load(option);
                }
            })
        }
        function init1() {
            var data = {'nf':nf,'zc':zc, 'zt': zt, 'qy': qy,'kfs':kfs, 'lpmc': lpmc, 'yt': yt, 'xfyt': xfyt, 'hx': hx ,'pagenow':option.pagenow,'pagesize':option.pagesize};
            $.ajax({
                url: "/jp_zb/cxjg",
                data: data,
                type: "post",
                success: function (data) {
                    var d = [];
                    for (var i = 0; i < data.data.length; i++) {
                        d.push([data.data[i].cjrq, data.data[i].qy, data.data[i].zt, data.data[i].kfs, data.data[i].lpmc, data.data[i].yt, data.data[i].xfyt, data.data[i].hx, data.data[i].jzmj, data.data[i].tnmj, data.data[i].cjje, data.data[i].ts, data.data[i].zlmjqj]);
                    };
                    option.data = d;
                    option.datacount = data.datacount;
                    option.pagenow = data.pagenow;
                    table.reflush(option);
                    table.load(option);
                }
            })

        }
        function init3()
        {
            $.ajax({
                url: "/jp_zb/get_jpba_xq",
                data: {'id': @ViewBag.id},
                type: "post",
                success: function (data) {
                    if(data)
                    {
                        if(data.ztcs)
                        {
                            var ztlb =data.ztcs.split(",");
                            for (var i = 0; i < ztlb.length; i++) {
                                add_default("ztmc",ztlb[i]);
                            }
                        }
                        if(data.qycs)
                        {
                            var qylb =data.qycs.split(",");
                            for (var i = 0; i < qylb.length; i++) {
                                add_default("qymc",qylb[i]);
                            }
                        }
                        if(data.ksf)
                        {
                            var qylb =data.qycs.split(",");
                            for (var i = 0; i < ksf.length; i++) {
                                add_default("ksf",ksf[i]);
                            }
                        }
                        if(data.lpcs)
                        {
                            var lplb =data.lpcs.split(",");
                            for (var i = 0; i < lplb.length; i++) {
                                add_default("lpmc",lplb[i]);
                            }
                        }
                        if(data.ytcs)
                        {
                            var ytlb =data.ytcs.split(",");
                            for (var i = 0; i < ytlb.length; i++) {
                                add_default("ytmc",ytlb[i]);
                            }
                        }
                        if(data.xfytcs)
                        {
                            var xfytlb =data.xfytcs.split(",");
                            for (var i = 0; i < xfytlb.length; i++) {
                                add_default("xfyt",xfytlb[i]);
                            }
                        }
                        if(data.hxcs)
                        {
                            var hxlb =data.hxcs.split(",");
                            for (var i = 0; i < hxlb.length; i++) {
                                add_default("hxmc",hxlb[i]);
                            }
                        }
                        if(data.zlmjqj)
                        {
                            var zlmjqj =data.zlmjqj.split(",");
                            for (var i = 0; i < zlmjqj.length; i++) {
                                add_default("zlmjqj",zlmjqj[i]);
                            }
                        }
                        if(data.qtcs)
                        {
                            add_default("qtcs",data.qtcs);
                        }
                    }
                }
            })
        };
        //先判断浏览器是不是万恶的IE，没办法，写的东西也有IE使用者
        $("#ztmc").bind("input propertychange",function(event){
            if( $("#ztmc").val()){
                $.ajax({
                    url:"/jp_zb/GET_ZTLB",
                    data: {'ztmc': $("#ztmc").val()},
                    type: "get",
                    success: function (data) {
                        var obj =$("#ztmccslb");
                        obj.empty();
                        for (var i = 0; i < data.length; i++) {
                            obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'ztmc\',this)\">"+data[i]+"</option>");
                        }
                        obj.show();
                        $("#ztmccslb").trigger("click");
                    }
                })
            }else
            {
                $("#ztmccslb").hide();
            }
        })
        $("#qymc").bind("input propertychange",function(event){
           if( $("#qymc").val()){
            $.ajax({
                url:"/jp_zb/get_qylb",
                data: {'qymc': $("#qymc").val()},
                type: "get",
                success: function (data) {
                    var obj =$("#qymccslb");
                    obj.empty();
                    for (var i = 0; i < data.length; i++) {
                        obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'qymc\',this)\">"+data[i]+"</option>");
                    }
                    obj.show();
                    $("#qymccslb").trigger("click");
                }
            })
           }else
           {
               $("#qymccslb").hide();
           }
        })
        $("#kfs").bind("input propertychange",function(event){
            if( $("#kfs").val()){
                $.ajax({
                    url:"/jp_zb/get_kfslb",
                    data: {'kfs': $("#kfs").val()},
                    type: "get",
                    success: function (data) {
                        var obj =$("#kfscslb");
                        obj.empty();
                        for (var i = 0; i < data.length; i++) {
                            obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'kfs\',this)\">"+data[i]+"</option>");
                        }
                        obj.show();
                        $("#kfscslb").trigger("click");
                    }
                })
            }else
            {
                $("#kfscslb").hide();
            }
        })
        $("#lpmc").bind("input propertychange",function(event){
            if( $("#lpmc").val()){
                $.ajax({
                    url:"/jp_zb/get_lplb",
                    data: {'lpmc': $("#lpmc").val()},
                    type: "get",
                    success: function (data) {
                        var obj =$("#lpmccslb");
                        obj.empty();
                        for (var i = 0; i < data.length; i++) {
                            obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'lpmc\',this)\">"+data[i]+"</option>");
                        }
                        obj.show();
                        $("#lpmccslb").trigger("click");
                    }
                })
            }else
            {
                $("#lpmccslb").hide();
            }
        })
        $("#ytmc").bind("input propertychange",function(event){
            if( $("#ytmc").val()){
                $.ajax({
                    url:"/jp_zb/get_ytlb",
                    data: {'ytmc': $("#ytmc").val()},
                    type: "get",
                    success: function (data) {
                        var obj =$("#ytmccslb");
                        obj.empty();
                        for (var i = 0; i < data.length; i++) {
                            obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'ytmc\',this)\">"+data[i]+"</option>");
                        }
                        obj.show();
                        $("#ytmccslb").trigger("click");
                    }
                })
            }else
            {
                $("#ytmccslb").hide();
            }
        })
        $("#xfyt").bind("input propertychange",function(event){
            if( $("#xfyt").val()){
                $.ajax({
                    url:"/jp_zb/get_xfytlb",
                    data: {'xfyt': $("#xfyt").val()},
                    type: "get",
                    success: function (data) {
                        var obj =$("#xfytcslb");
                        obj.empty();
                        for (var i = 0; i < data.length; i++) {
                            obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'xfyt\',this)\">"+data[i]+"</option>");
                        }
                        obj.show();
                        $("#xfytcslb").trigger("click");
                    }
                })
            }else
            {
                $("#ytmccslb").hide();
            }
        });
        $("#hxmc").bind("input propertychange",function(event){
            if( $("#hxmc").val()){
                $.ajax({
                    url:"/jp_zb/get_hxlb",
                    data: {'hxmc': $("#hxmc").val()},
                    type: "get",
                    success: function (data) {
                        var obj =$("#hxmccslb");
                        obj.empty();
                        for (var i = 0; i < data.length; i++) {
                            obj.append("<option value='"+data[i]+"' onclick=\"chouse(\'hxmc\',this)\">"+data[i]+"</option>");
                        }
                        obj.show();
                        $("#hxmccslb").trigger("click");
                    }
                })
            }else
            {
                $("#hxmccslb").hide();
            }
        });
        function chouse(a,b){
            switch (a) {
                case 'ztmc': { zt.push(b.value); }; break;
                case 'qymc': { qy.push(b.value); }; break;
                case 'kfs': { kfs.push(b.value); }; break;
                case 'lpmc': { lpmc.push(b.value); }; break;
                case 'ytmc': { yt.push(b.value); }; break;
                case 'xfyt': { xfyt.push(b.value); }; break;
                case 'hxmc': { hx.push(b.value); }; break;
            }
            add_by_list(a,b);
            $("#"+a+"cslb").hide();
        }
        function default1(a)
        {
            var obj= $("#"+a);
            if(obj){obj.hide();};
        }
        function default2(a)
        {
            var b=  document.activeElement.id
            if( b!=a)
            {
                default1(a);
            }
        }

       
    </script>
}