@using Calculation.Models
@{

    Rw_Item_Model p = this.ViewBag.rwxq as Rw_Item_Model;
}
<style>
    .btn{margin-left:5px;margin-right:5px;}
</style>

<div class="row" style="width: 90%; margin: 20px;">
    <a class="btn btn-primary waves-effect waves-light" onclick="javascript:history.back(-1);">返回</a>
    <input type="text" id="bamc" class="form-control" placeholder="添加竞品本案项目" /><input type="button" value="添加竞品本案项目" onclick="add()" class="btn btn-danger" />
    <input type="button" value="确认参数设置通过" onclick="sub()" class="btn btn-danger" />
    <a class="btn btn-primary waves-effect waves-light" href="/jp_zb/Jcjzcs?mbid=@this.ViewBag.mbid&rwid=@p.rwid" data-toggle="modal" data-target="#jczbsz" >继承设置 </a> 
</div>
<div class="table row" id="baxm">

</div>




<DIV tabindex="-1" class="modal fade" id="jczbsz" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width: 55%;">
        <DIV class="modal-content">

            <DIV class="modal-body">

            </DIV>

        </DIV><!-- /.modal-content -->
    </DIV><!-- /.modal-dialog -->
</DIV><!-- /.modal -->


@section scripts{
    <script>
        var rwid=@p.rwid;
        var nf =@p.nf;
        var zc= @p.zc;
        var mbid =@ViewBag.mbid;
        
        function add()
        {
            var bamc = $("#bamc").val();
            if(bamc)
            {
                $.ajax({
                    url: "/jp_zb/add_ba",
                    data: {'rwid':rwid,'bamc':bamc},
                    type: "post",
                    success: function (data) {
                        if (data.IsSuccessful) {
                            alert("添加成功");
                            table.reflush(option);
                            init1();
                        }
                        else alert(data.ErrMsg);

                    }
                })
            }
            else alert("请填写本案项目名称");
        }
        function del(a)
        {

                $.ajax({
                    url: "/jp_zb/del_ba",
                    data: {'id':a},
                    type: "post",
                    success: function (data) {
                        if (data.IsSuccessful) {
                            alert("删除成功");
                            table.reflush(option);
                            init1();
                        }
                        else alert(data.ErrMsg);

                    }
                })

        }

        function sub()
        {
            $.ajax({
                url: "/jp_zb/tgcssz",
                data: {'rwid':rwid},
                type: "post",
                success: function (data) {
                    if (data.IsSuccessful) {
                        alert("确认成功");
                    }
                    else alert(data.ErrMsg);

                }
            })

        }

        
        



            var table = new Table_bs($('#baxm'));
            function cleardata(a) {
                $(a).on("hidden.bs.modal", function () {
                    $(this).removeData("bs.modal");
                });
            }
            function Table_bs($box) {

                var _init_bit = false;
                var _box = $box;

                this.init = function () {

                    _box.addClass('table-responsive');

                    var html = '';
                    html += '<table class="table table-bordered " style="text-align: center; ">';
                    html += '<thead style="font-weight: bold;">';
                    // html += '<tr>';
                    // html += '</tr>';
                    html += '</thead>';
                    html += '<tbody>';
                    // html += '<tr>';
                    // html += '</tr>';
                    html += '</tbody>';
                    html += '</table>';

                    _box.append($(html));

                    _init_bit = true;
                }
                this.load = function (option) {

                    if (!_init_bit) {
                        this.init();
                    }

                    // 表头
                    var thead = option.colNames;

                    var html_thead = '';
                    html_thead += '<tr>';
                    for (var i = 0; i < thead.length; i++) {
                        html_thead += '<td>' + thead[i] + '</td>';
                    }
                    html_thead += '</tr>';

                    _box.find('thead').append($(html_thead));

                    // 表身
                    var tbody = option.data;
                    var html_tbody = '';

                    for (var j1 = 0; j1 < tbody.length; j1++) {
                        var buff = tbody[j1];

                        html_tbody += '<tr>';
                        for (var j2 = 0; j2 < buff.length; j2++) {
                            html_tbody += '<td>' + buff[j2] + '</td>';
                        }
                        html_tbody += '</tr>';
                    }
                    _box.find('tbody').append($(html_tbody));
                    if(option.hasPage){
                        var html_page = "";
                        html_page += "<ul class='pagination'><li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>上一页</a></li>";
                        html_page += "<li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>" + option.datacount + "</a></li>";

                        html_page += "<li tabindex='0' class='paginate_button next' id='datatable-fixed-header_next' aria-controls='datatable-fixed-header'><a href='#'>下一页</a></li></ul>";
                        _box.find('tbody').append((html_page));
                    }
                }
                this.reflush = function (option) {
                    _box.empty();
                    this.init();
                    //option.data = [];
                    //this.load(option);
                }
            }



            var option = {
                colNames: [ "编号",'竞品本案名称', '区域', '组团', '开发商', '楼盘', '业态', '细分业态', '户型','主力面积区间','其他参数','','',"操作"],
                data: [

                ],
                hasPage :false
            }

            $(function () {
                init1();
            });


            function init1() {
                var data = {'rwid':@p.rwid};
                $.ajax({
                    url: "/jp_zb/get_ba",
                    data: data,
                    type: "post",
                    success: function (data) {
                        var d = [];
                        for (var i = 0; i < data.length; i++) {
                            d.push([data[i].id, data[i].bamc,data[i].qycs,data[i].ztcs,data[i].kfs,data[i].lpcs,data[i].ytcs,data[i].xfytcs,data[i].hxcs,data[i].zlmjqj,data[i].qtcs,
                                '<a class="btn btn-link" href="/jp_zb/bajzgj?id='+ data[i].id + '&nf='+nf+'&zc='+zc+'">本案参数</a>',
                                '<a class="btn btn-link" href="/jp_zb/jpxm?baid='+ data[i].id + '&nf='+nf+'&zc='+zc+'">竞品项目</a>',
                                '<a class="btn btn-link" onclick="del(' + data[i].id + ')">删除</a>']);
                        };
                        option.data = d;
                        table.reflush(option);
                        table.load(option);
                    }
                })

            }
    </script>
}