
@{
    ViewBag.Title = "Jpjzgj";
}

<div class="row">
    <div><h4>竞品格局</h4></div>
    <div>
        <input type="button" class="btn btn-danger" value="保存竞品格局" id="btn_sub" onclick="save()" />
        <a class="btn btn-primary waves-effect waves-light text-right" onclick="javascript:history.back(-1);">返回</a>
    </div>
</div>

<style>
    .param {
        margin-top: 5px;
    }

    .param_value_item {
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        background-color: #272c35;
        line-height: 35px;
        color: white;
        border-radius: 2px;
    }

        .param_value_item i {
            margin-left: 5px;
        }
</style>

<div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="ztmc" class="form-control col-sm-9" placeholder="组团名称" /><input type="button" value="搜索" onclick="add('ztmc')" class="btn btn-danger" />
        </div>
        <div class="col-lg-9" id="ztmc_param">

        </div>

    </div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="qymc" class="form-control col-sm-9" placeholder="区域名称" /><input type="button" value="搜索" onclick="add('qymc')" class="btn btn-danger" />
        </div>
        <div class="col-lg-9" id="qymc_param">

        </div>
    </div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="lpmc" class="form-control col-sm-9" placeholder="楼盘名称" /><input type="button" value="搜索" onclick="add('lpmc')" class="btn btn-danger" />
        </div>
        <div class="col-lg-9" id="lpmc_param">

        </div>
    </div>
    <div class="row param">
        <div class="col-lg-3">
            <input type="text" id="ytmc" class="form-control  col-sm-9" placeholder="业态" /><input type="button" value="搜索" onclick="add('ytmc')" class="btn btn-danger" />
        </div>
        <div class="col-lg-9" id="ytmc_param">
        </div>
    </div>
    <div class="row param">
        <div class="col-lg-3"><input type="text" id="xfyt" class="form-control  col-sm-9  col-lg-9" placeholder="细分业态" /><input type="button" value="搜索" onclick="add('xfyt')" class="btn btn-danger" /></div>
        <div class="col-lg-9" id="xfyt_param"></div>
    </div>
    <div class="row param">
        <div class="col-lg-3"><input type="text" id="hxmc" class="form-control  col-sm-9  col-lg-9" placeholder="户型" /><input type="button" value="搜索" onclick="add('hxmc')" class="btn btn-danger" /></div>
        <div class="col-lg-9" id="hxmc_param"></div>
    </div>
</div>
<div class="table row" id="cjsj">

</div>


@section scripts{
    <script>
        var zt = [];
        var qy = [];
        var lpmc = [];
        var yt = [];
        var xfyt = [];
        var hx = [];
        var nf= @this.ViewBag.nf;
        var zc= @this.ViewBag.zc;

        function add(a) {
            var d = $("#" + a).val();
            if (d!=null&d!=""&d!=undefined) {
                $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + $("#" + a).val() + "<i class='md md-clear'></i></a>");
                switch (a) {
                    case 'ztmc': { zt.push($("#" + a).val().trim()); }; break;
                    case 'qymc': { qy.push($("#" + a).val().trim()); }; break;
                    case 'lpmc': { lpmc.push($("#" + a).val().trim()); }; break;
                    case 'ytmc': { yt.push($("#" + a).val().trim()); }; break;
                    case 'xfyt': { xfyt.push($("#" + a).val().trim()); }; break;
                    case 'hxmc': { hx.push($("#" + a).val().trim()); }; break;
                }
                option.pagenow = 1;
                init2();
            }
            else
            {
                alert("请填内容！")
            }
        }
        function del(a, b) {
            document.getElementById(a + "_param").removeChild(b);
            switch (a) {
                case 'ztmc': { zt.splice(zt.indexOf(b.text.trim()), 1); }; break;
                case 'qymc': { qy.splice(qy.indexOf(b.text.trim()), 1); }; break;
                case 'lpmc': { lpmc.splice(lpmc.indexOf(b.text.trim()), 1); }; break;
                case 'ytmc': { yt.splice(yt.indexOf(b.text.trim()), 1); }; break;
                case 'xfyt': { xfyt.splice(xfyt.indexOf(b.text.trim()), 1); }; break;
                case 'hxmc': { hx.splice(hx.indexOf(b.text.trim()), 1); }; break;
            }
            option.pagenow = 1;
            init2();
        }
        function add_default(a,b) {
       
            $("#" + a + "_param").append("<a class='param_value_item' onclick='del(\"" + a + "\",this)'>" + b+ "<i class='md md-clear'></i></a>");
            switch (a) {
                case 'ztmc': { zt.push(b); }; break;
                case 'qymc': { qy.push(b); }; break;
                case 'lpmc': { lpmc.push(b); }; break;
                case 'ytmc': { yt.push(b); }; break;
                case 'xfyt': { xfyt.push(b); }; break;
                case 'hxmc': { hx.push(b); }; break;
            }
            option.pagenow = 1;
            init2();
           
        }

        var table = new Table_bs($('#cjsj'));
        function cleardata(a) {
            $(a).on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });

        }
        function Table_bs($box) {

            var _init_bit = false;
            var _box = $box;

            this.init = function () {

                _box.addClass('table-responsive');

                var html = '';
                html += '<table class="table table-bordered " style="text-align: center; ">';
                html += '<thead style="font-weight: bold;">';
                // html += '<tr>';
                // html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                // html += '<tr>';
                // html += '</tr>';
                html += '</tbody>';
                html += '</table>';

                _box.append($(html));

                _init_bit = true;
            }
            this.load = function (option) {

                if (!_init_bit) {
                    this.init();
                }

                // 表头
                var thead = option.colNames;

                var html_thead = '';
                html_thead += '<tr>';
                for (var i = 0; i < thead.length; i++) {
                    html_thead += '<td>' + thead[i] + '</td>';
                }
                html_thead += '</tr>';

                _box.find('thead').append($(html_thead));

                // 表身
                var tbody = option.data;
                var html_tbody = '';

                for (var j1 = 0; j1 < tbody.length; j1++) {
                    var buff = tbody[j1];

                    html_tbody += '<tr>';
                    for (var j2 = 0; j2 < buff.length; j2++) {
                        html_tbody += '<td>' + buff[j2] + '</td>';
                    }
                    html_tbody += '</tr>';
                }
                _box.find('tbody').append($(html_tbody));
                var html_page = "";
                html_page += "<ul class='pagination'><li tabindex='0' class='paginate_button previous' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a onclick='pre()'>上一页</a></li>";
                html_page += "<li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>" + option.datacount + "</a></li>";

                html_page += "<li tabindex='0' class='paginate_button next' id='datatable-fixed-header_next' aria-controls='datatable-fixed-header'><a onclick='next()'>下一页</a></li></ul>";
                _box.find('tbody').append((html_page));
            }
            this.reflush = function (option) {
                _box.empty();
                this.init();
                //option.data = [];
                //this.load(option);
            }
        }



        var option = {
            colNames: ['成交日期', "区域", "组团", "开发商", "楼盘名称", "业态", "细分业态", "户型", "建筑面积", "套内面积", "成交金额", "套数"],
            data: [

            ],
            pagenow :1,
            pagesize: 50,
            datacount :0,
        }

        $(function () {
            init3();
            init1();
        });

        function pre()
        {
            if(option.pagenow>1)
            {
                option.pagenow -= 1;
                init2();
            }
        }
        function next() {
            if (option.pagenow<(option.datacount / option.pagesize)+1) {
                option.pagenow += 1;
                init2();
            }
        }
        function init2() {

            var data = { 'nf':nf,'zc':zc,'zt': zt, 'qy': qy, 'lpmc': lpmc, 'yt': yt, 'xfyt': xfyt, 'hx': hx ,'pagenow':option.pagenow,'pagesize':option.pagesize};
            $.ajax({
                url: "/jp_zb/cxjg",
                data: data,
                type: "post",
                success: function (data) {
                    var d = [];
                    for (var i = 0; i < data.data.length; i++) {
                        d.push([data.data[i].cjrq, data.data[i].qy, data.data[i].zt, data.data[i].kfs, data.data[i].lpmc, data.data[i].yt, data.data[i].xfyt, data.data[i].hx, data.data[i].jzmj, data.data[i].tnmj, data.data[i].cjje, data.data[i].ts, ]);
                    };
                    option.data = d;
                    option.datacount = data.datacount;
                    option.pagenow = data.pagenow;
                    table.reflush(option);
                    table.load(option);
                }
            })
        }
        function init1() {
            var data = { 'nf':nf,'zc':zc,'zt': zt, 'qy': qy, 'lpmc': lpmc, 'yt': yt, 'xfyt': xfyt, 'hx': hx ,'pagenow':option.pagenow,'pagesize':option.pagesize};
            $.ajax({
                url: "/jp_zb/cxjg",
                data: data,
                type: "post",
                success: function (data) {
                    var d = [];
                    for (var i = 0; i < data.data.length; i++) {
                        d.push([data.data[i].cjrq, data.data[i].qy, data.data[i].zt, data.data[i].kfs, data.data[i].lpmc, data.data[i].yt, data.data[i].xfyt, data.data[i].hx, data.data[i].jzmj, data.data[i].tnmj, data.data[i].cjje, data.data[i].ts, ]);
                    };
                    option.data = d;
                    option.datacount = data.datacount;
                    option.pagenow = data.pagenow;
                    table.reflush(option);
                    table.load(option);
                }
            })

        }
        function init3()
        {
            $.ajax({
                url: "/jp_zb/get_jpxm_xq",
                data: {'id': @ViewBag.id},
                type: "post",
                success: function (data) {
                    if(data)
                    {
                        if(data.ztcs)
                        {
                            var ztlb =data.ztcs.split(",");
                            for (var i = 0; i < ztlb; i++) {
                                add_default("ztmc",ztlb[i]);
                            }
                        }
                        if(data.qycs)
                        {
                            var qylb =data.qycs.split(",");
                            for (var i = 0; i < qylb.length; i++) {
                                add_default("qymc",qylb[i]);
                            }
                        }
                        if(data.lpcs)
                        {
                            var lplb =data.lpcs.split(",");
                            for (var i = 0; i < lplb.length; i++) {
                                add_default("lpmc",lplb[i]);
                            }
                        }
                        if(data.ytcs)
                        {
                            var ytlb =data.ytcs.split(",");
                            for (var i = 0; i < ytlb.length; i++) {
                                add_default("ytmc",ytlb[i]);
                            }
                        }
                        if(data.xfytcs)
                        {
                            var xfytlb =data.xfytcs.split(",");
                            for (var i = 0; i < xfytlb.length; i++) {
                                add_default("xfyt",xfytlb[i]);
                            }
                        }
                        if(data.hxcs)
                        {
                            var hxlb =data.hxcs.split(",");
                            for (var i = 0; i < hxlb.length; i++) {
                                add_default("hxmc",hxlb[i]);
                            }
                        }
                    }
                }
            })
        }

        function save()
        {
            var data = { 'zt': zt, 'qy': qy, 'lpmc': lpmc, 'yt': yt, 'xfyt': xfyt, 'hx': hx, 'id': @ViewBag.id };
            $.ajax({
                url: "/jp_zb/save_jpxmcs",
                data: data,
                type: "post",
                success: function (data) {
                    if (data.IsSuccessful) {
                        alert("保存成功");
                        table.reflush(option);
                        init1();
                    }
                    else alert(data.ErrMsg);
                }
            })

        }
    </script>
}