<div class="row" style="width: 90%; margin: 20px;">
    <a class="btn btn-primary waves-effect waves-light" onclick="javascript:history.back(-1);">返回</a>
    <input type="text" id="cxtj" class="form-control" placeholder="请输入查询条件" /><input type="button" value="查询" onclick="Search()" class="btn btn-danger" />
</div>
<div id="list" class="row table" style="width: 90%; margin: 20px;"></div>

<DIV tabindex="-1" class="modal fade" id="tjkfs" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width: 55%;">
        <DIV class="modal-content">

            <DIV class="modal-body">

            </DIV>
          
        </DIV><!-- /.modal-content -->
    </DIV><!-- /.modal-dialog -->
</DIV><!-- /.modal -->

@section scripts{

    <script>

        var tj = "";
        var pagesize = 10;
        var pagenow = 1;

        function Search() {
            option.pagesize = 10;
            option.pagenow = 1;
            tj = $("#cxtj").val();
            init();
        }
        function init() {
            var data = { 'tj': tj, 'yhbh': '@this.ViewBag.yhbh', 'pagesize': option.pagesize, 'pagenow': option.pagenow };
            dopage(data);
        }


        function del_yhfzkfs(b)
        {
            $.ajax({
                url: "/sys/del_yhfzkfs",
                type: "post",
                data: { 'yhbh': '@this.ViewBag.yhbh', kfsbh:b },
                success: function (data) {
                    if (data.IsSuccessful) {
                        $('#tjkfs').modal('hide');
                        init();
                    }
                    else {
                        alert(data.ErrMsg);
                    }
                }
            })
        }
        function add_yhfzkfs(b) {
            $.ajax({
                url: "/sys/add_yhfzkfs",
                type: "post",
                data: { 'yhbh': '@this.ViewBag.yhbh', kfsbh: b },
                success: function (data) {
                    if (data.IsSuccessful) {
                        $('#tjkfs').modal('hide');
                        init();
                    }
                    else {
                        alert(data.ErrMsg);
                    }
                }
            })
        }

        var table = new Table_bs($('#list'));
        function cleardata(a) {
            $(a).on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });
        }
        function Table_bs($box) {

            var _init_bit = false;
            var _box = $box;

            this.init = function () {

                _box.addClass('table-responsive');

                var html = '';
                html += '<table class="table table-bordered " style="text-align: center; ">';
                html += '<thead style="font-weight: bold;">';
                // html += '<tr>';
                // html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                // html += '<tr>';
                // html += '</tr>';
                html += '</tbody>';
                html += '</table>';

                _box.append($(html));

                _init_bit = true;
            }
            this.load = function (option) {

                if (!_init_bit) {
                    this.init();
                }

                // 表头
                var thead = option.colNames;

                var html_thead = '';
                html_thead += '<tr>';
                for (var i = 0; i < thead.length; i++) {
                    html_thead += '<td>' + thead[i] + '</td>';
                }
                html_thead += '</tr>';

                _box.find('thead').append($(html_thead));

                // 表身
                var tbody = option.data;
                var html_tbody = '';

                for (var j1 = 0; j1 < tbody.length; j1++) {
                    var buff = tbody[j1];

                    html_tbody += '<tr>';
                    for (var j2 = 0; j2 < buff.length; j2++) {
                        html_tbody += '<td>' + buff[j2] + '</td>';
                    }
                    html_tbody += '</tr>';
                }
                _box.find('tbody').append($(html_tbody));
                if (option.hasPage) {
                    var html_page = "";
                    html_page += "<ul class='pagination'><li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a onclick='pre()'>上一页</a></li>";
                    html_page += "<li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>" + option.pagenow + "/" + option.datacount + "</a></li>";

                    html_page += "<li tabindex='0' class='paginate_button next' id='datatable-fixed-header_next' aria-controls='datatable-fixed-header'><a onclick='next()'>下一页</a></li></ul>";
                    _box.append((html_page));
                }
            }
            this.reflush = function (option) {
                _box.empty();
                this.init();
                //option.data = [];
                //this.load(option);
            }
        }
        var option = {
            colNames: ["开发商编号", '开发商名称', '联系人', '联系人电话','是否分配', '操作'],
            data: [

            ],
            hasPage: true
        }
        $(function () {
            option.pagenow = pagenow;
            option.pagesize = pagesize;
            init();
        });
        function pre() {
            if (option.pagenow > 1) {
                option.pagenow -= 1;
                init();
            }
        }
        function next() {
            if (option.pagenow < option.datacount ) {
                option.pagenow += 1;
                init();
            }
        }



        function dopage(data) {
            $.ajax({
                url: "/sys/GET_YHFZKFSLB",
                data: data,
                type: "post",
                success: function (data) {
                    if (data) {
                        var d = [];
                        for (var i = 0; i < data.d.length; i++) {
                            d.push([data.d[i].kfsbh, ini_data(data.d[i].kfsmc), ini_data(data.d[i].kfslxr), ini_data(data.d[i].kfslxrdh), ini_pfzt(data.d[i].sffp, data.d[i].kfsbh), ini_sq(data.d[i].yhbh, data.d[i].kfsbh, data.d[i].sffp)]);
                        };
                        option.data = d;
                        option.datacount = data.datacount;
                        option.pagenow = data.pagenow;
                        table.reflush(option);
                        table.load(option);
                    }
                    else {
                        alert("没有新的数据");
                    }
                }
            })
        }

        function ini_pfzt(a,b)
        {
            if(a==0)
                return "<span class='label label-default'>未授权</span>"
            else
                return "<span class='label label-success'>已授权</span>"
        }
        function ini_sq(a,b,c)
        {
            if(c==0){
                return '<a class="btn btn-primary waves-effect waves-light" onclick="add_yhfzkfs(\'' + b + '\')">授予权限</a>'
            }
            else
            {
                return '<a class="btn btn-primary waves-effect waves-light" onclick="del_yhfzkfs(\'' + b + '\')">删除授权</a>'
            }
        }
        function ini_data(a) {
            if (a == undefined || a == null)
                return "";
            else
                return a;
        }
    </script>
}