@using Calculation.Base;
@using Calculation.Models;
@{
    ViewBag.Title = "Index";
}

    @{
        var jsxx = this.ViewBag.jsxx as List<JSXX>;
        if (jsxx != null && jsxx.Count > 0)
        {
            foreach (var item in jsxx)
            {
                //string path = "/" + item.qxkzq + "/" + item.qxst;
                switch (item.jsbh)
                {
                    case "1":
                        {
                            <div class="col-lg-4">
                                <div class="panel panel-border panel-pink">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>@item.jsmc</p>
                                    </div>
                                </div>
                            </div>
                        }; break;
                    case "2":
                        {
                            <div class="col-lg-4">
                                <div class="panel panel-border panel-pink">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">数据任务</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>@item.jsmc</p>
                                    </div>
                                </div>
                            </div>
                        }; break;
                    case "3":
                        {
                            <div class="col-lg-4">
                                <div class="panel panel-border panel-pink">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">周报任务</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>@item.jsmc</p>
                                    </div>
                                </div>
                            </div>
                        }; break;
                }
            }
        }
    }

<script>

</script>
@section scripts{
<script src="~/Scripts/Moltran/modal/classie.js"></script>
<script src="~/Scripts/Moltran/modal/modalEffects.js"></script>
}