@using Calculation.Base;
@{
    ViewBag.Title = "Index";
}



            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">周报任务</h4>
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">XXXXXX</a></li>
                        <li class="active">XXXXXXXXX</li>
                    </ol>
                </div>
            </div>
            <!-- Start Widget -->
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="mini-stat clearfix bx-shadow bg-info">
                        <span class="mini-stat-icon"><i class="ion-social-usd"></i></span>
                        <div class="mini-stat-info text-right">
                            <div class="modal fade none-border in" id="event-modal" style="padding-right: 16px; display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                                            <h4 class="modal-title"><strong>Add Event</strong></h4>
                                        </div>
                                        <div class="modal-body"><form><div class="row"><div class="col-md-6"><div class="form-group"><label class="control-label">Event Name</label><input name="title" class="form-control" type="text" placeholder="Insert Event Name"></div></div><div class="col-md-6"><div class="form-group"><label class="control-label">Category</label><select name="category" class="form-control"><option value="bg-danger">Danger</option><option value="bg-success">Success</option><option value="bg-purple">Purple</option><option value="bg-primary">Primary</option><option value="bg-warning">Warning</option></select></div></div></div></form></div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default waves-effect" type="button" data-dismiss="modal">Close</button>
                                            <button class="btn btn-success save-event waves-effect waves-light" type="button">Create event</button>
                                            <button class="btn btn-danger delete-event waves-effect waves-light" style="display: none;" type="button" data-dismiss="modal">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tiles-progress">
                            <div class="m-t-20">
                                <h5 class="text-uppercase text-white m-0">周报任务<span class="pull-right">@Base_date.bn</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="mini-stat clearfix bg-purple bx-shadow">
                        <span class="mini-stat-icon"><i class="ion-ios7-cart"></i></span>
                        <div class="mini-stat-info text-right">
                            <span class="counter">956</span>
                            New Orders
                        </div>
                        <div class="tiles-progress">
                            <div class="m-t-20">
                                <h5 class="text-uppercase text-white m-0">月报任务<span class="pull-right">59</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="mini-stat clearfix bg-success bx-shadow">
                        <span class="mini-stat-icon"><i class="ion-eye"></i></span>
                        <div class="mini-stat-info text-right">
                            <span class="counter">20544</span>
                            Unique Visitors
                        </div>
                        <div class="tiles-progress">
                            <div class="m-t-20">
                                <h5 class="text-uppercase text-white m-0">数据任务<span class="pull-right">1026</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- End row-->




@section scripts{
<script src="~/Scripts/Moltran/modal/classie.js"></script>
<script src="~/Scripts/Moltran/modal/modalEffects.js"></script>
 

}