<div class="row" style="width: 90%; margin: 20px;">
    <input type="text" id="cxtj" class="form-control" placeholder="请输入查询条件" /><input type="button" value="查询" onclick="Search()" class="btn btn-danger" />
</div>

<div id="kfslb" class="row" style="width: 90%; margin: 20px;"></div>>

@section scripts{

    <script>

        var tj = "";
        var pagesize = 20;
        var pagenow = 1;

        function Search() {
            var tj = $("#cxtj").val();
            option.pagesize = 10;
            option.pagenow = 1;
            data = { 'tj': tj ,'nf':2018,'zc':30,'pagesize': option.pagesize, 'pagenow':option.pagenow }
            dopage(data);
        }


        var table = new Table_bs($('#kfslb'));
        function cleardata(a) {
            $(a).on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });
        }
        function Table_bs($box) {

            var _init_bit = false;
            var _box = $box;

            this.init = function () {

                _box.addClass('table-responsive');

                var html = '';
                html += '<table class="table table-bordered " style="text-align: center; ">';
                html += '<thead style="font-weight: bold;">';
                // html += '<tr>';
                // html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                // html += '<tr>';
                // html += '</tr>';
                html += '</tbody>';
                html += '</table>';

                _box.append($(html));

                _init_bit = true;
            }
            this.load = function (option) {

                if (!_init_bit) {
                    this.init();
                }

                // 表头
                var thead = option.colNames;

                var html_thead = '';
                html_thead += '<tr>';
                for (var i = 0; i < thead.length; i++) {
                    html_thead += '<td>' + thead[i] + '</td>';
                }
                html_thead += '</tr>';

                _box.find('thead').append($(html_thead));

                // 表身
                var tbody = option.data;
                var html_tbody = '';

                for (var j1 = 0; j1 < tbody.length; j1++) {
                    var buff = tbody[j1];

                    html_tbody += '<tr>';
                    for (var j2 = 0; j2 < buff.length; j2++) {
                        html_tbody += '<td>' + buff[j2] + '</td>';
                    }
                    html_tbody += '</tr>';
                }
                _box.find('tbody').append($(html_tbody));
                if (option.hasPage) {
                    var html_page = "";
                    html_page += "<ul class='pagination'><li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a onclick='pre()'>上一页</a></li>";
                    html_page += "<li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>" + option.pagenow + "/" + option.datacount + "</a></li>";

                    html_page += "<li tabindex='0' class='paginate_button next' id='datatable-fixed-header_next' aria-controls='datatable-fixed-header'><a onclick='next()'>下一页</a></li></ul>";
                    _box.append((html_page));
                }
            }
            this.reflush = function (option) {
                _box.empty();
                this.init();
                //option.data = [];
                //this.load(option);
            }
        }

        var option = {
            colNames: ['年份', '周次', '开发商', '模板名称', '任务名称', '下载'],
            data: [
            ],
            hasPage: true
        }

        $(function () {
            option.pagenow = pagenow;
            option.pagesize = pagesize;
            init();
        });

        function init() {
            var data = { 'tj': tj,'nf':2018,'zc':30, 'pagesize': option.pagesize, 'pagenow': option.pagenow };
            dopage(data);

        }

        function dopage(data)
        {
            $.ajax({
                url: "/dg/DG_Grid",
                data: data,
                type: "post",
                success: function (data) {
                    var d = [];
                    for (var i = 0; i < data.d.length; i++) {
                        d.push([data.d[i].nf, data.d[i].zc, data.d[i].kfsmc, data.d[i].mbmc, data.d[i].rwmc, 
                                    '<a class="btn btn-link" href="' + data.d[i].dzdz2 + '">查看模板</a>']);
                    };
                    option.data = d;
                    option.datacount = data.datacount;
                    option.pagenow = data.pagenow;
                    table.reflush(option);
                    table.load(option);
                }
            })
        }
        function pre() {
            if (option.pagenow > 1) {
                option.pagenow -= 1;
                init();
            }
        }
        function next() {
            if (option.pagenow < option.datacount) {
                option.pagenow += 1;
                init();
            }
        }
    </script>
} 