
@{
    ViewBag.Title = "Index";

}

    <div class="row" style="width: 90%; margin: 20px;">
            <input type="text" id="cxtj" class="form-control" /><input type="button" value="收索" onclick="search()" class="btn btn-danger" /><a class="btn btn-primary waves-effect waves-light" href="/zb/upload_jpxmtgtp" data-toggle="modal" data-target="#tgtp" onclick="cleardata('#tgtp')">推广图片 </a>
    </div>

<div id="kfslb" style="width: 90%; margin: 20px;">

</div>

<DIV tabindex="-1" class="modal fade" id="tgtp" role="dialog"
     aria-hidden="true" aria-labelledby="custom-width-modalLabel" style="display: none;">
    <DIV class="modal-dialog" style="width: 55%;">
        <DIV class="modal-content">

            <DIV class="modal-body">

            </DIV>

        </DIV><!-- /.modal-content -->
    </DIV><!-- /.modal-dialog -->
</DIV><!-- /.modal -->
@section scripts{
<script>


    var tj = "";
    var pagesize = 10;
    var pagenow = 1;



    function search()
    {
        var tj = $("#cxtj").val();
        option.pagesize = 10;
        option.pagenow = 1;
        data = { 'tj': tj, 'pagesize': option.pagesize, 'pagenow': option.pagenow }
        dopage(data);
    }

    var table = new Table_bs($('#kfslb'));
    function cleardata(a) {
        $(a).on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
    }
    function Table_bs($box) {

        var _init_bit = false;
        var _box = $box;

        this.init = function () {

            _box.addClass('table-responsive');

            var html = '';
            html += '<table class="table table-bordered " style="text-align: center; ">';
            html += '<thead style="font-weight: bold;">';
            // html += '<tr>';
            // html += '</tr>';
            html += '</thead>';
            html += '<tbody>';
            // html += '<tr>';
            // html += '</tr>';
            html += '</tbody>';
            html += '</table>';

            _box.append($(html));

            _init_bit = true;
        }
        this.load = function (option) {

            if (!_init_bit) {
                this.init();
            }

            // 表头
            var thead = option.colNames;

            var html_thead = '';
            html_thead += '<tr>';
            for (var i = 0; i < thead.length; i++) {
                html_thead += '<td>' + thead[i] + '</td>';
            }
            html_thead += '</tr>';

            _box.find('thead').append($(html_thead));

            // 表身
            var tbody = option.data;
            var html_tbody = '';

            for (var j1 = 0; j1 < tbody.length; j1++) {
                var buff = tbody[j1];

                html_tbody += '<tr>';
                for (var j2 = 0; j2 < buff.length; j2++) {
                    html_tbody += '<td>' + buff[j2] + '</td>';
                }
                html_tbody += '</tr>';
            }
            _box.find('tbody').append($(html_tbody));
            if (option.hasPage) {
                var html_page = "";
                html_page += "<ul class='pagination'><li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a onclick='pre()'>上一页</a></li>";
                html_page += "<li tabindex='0' class='paginate_button previous disabled' id='datatable-fixed-header_previous' aria-controls='datatable-fixed-header'><a href='#'>" + option.pagenow + "/" + option.datacount + "</a></li>";

                html_page += "<li tabindex='0' class='paginate_button next' id='datatable-fixed-header_next' aria-controls='datatable-fixed-header'><a onclick='next()'>下一页</a></li></ul>";
                _box.append((html_page));
            }
        }
        this.reflush = function (option) {
            _box.empty();
            this.init();
            //option.data = [];
            //this.load(option);
        }
    }


    var option = {
        colNames: ["开发商", "联系人", "联系人电话",  "操作"],
        data: [
           
        ],
        hasPage: true
        
    }
    

    $(function () {
        option.pagenow = pagenow;
        option.pagesize = pagesize;
        init();
    });

    function init() {
        var data = { 'tj': tj, 'pagesize': option.pagesize, 'pagenow': option.pagenow };
        dopage(data);

    }

    function dopage(data) {

        $.ajax({
            url: "/zb/get_kfslb",
            data: data,
            type: "post",
            success: function (data) {
                var d = [];
                for (var i = 0; i < data.d.length; i++) {
                    d.push([data.d[i].kfsmc, data.d[i].kfslxr, data.d[i].kfslxrdh, 
                         '<a class="btn btn-link" href="/zb/zblb?kfsbh=' + data.d[i].kfsbh + '">周报管理</a>'
                    ]);
                };
                option.data = d;
                option.datacount = data.datacount;
                option.pagenow = data.pagenow;
                table.reflush(option);
                table.load(option);
            }
        })
    }
    function pre() {
        if (option.pagenow > 1) {
            option.pagenow -= 1;
            init1();
        }
    }
    function next() {
        if (option.pagenow < option.datacount) {
            option.pagenow += 1;
            init1();
        }
    }
</script>

    }
